bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
.idea/
open-farm-google-form-secret.json
*.user
/OpenFarm/.vs
/.vs
/OpenFarm/DatabaseAccess/.vs
OpenFarm/FileServer/FileProcessor/logs/
/OpenFarm/.vscode
/OpenFarm/OctoprintTestingService/data
OpenFarm/.vscode
/OpenFarm/data
OpenFarm/FileServer/FileProcessor/open-farm-google-secret.json
OpenFarm/google-form-listener/open-farm-google-secret.json
.DS_Store
appsettings.Development.json
appsettings.local.json
*.idea
/Logs
*secret.json
